[rails]
directory = /home/gnufied/god_particle
command = zsh -c 'bundle exec rails s -p 5000'

[dj]
directory = /home/gnufied/god_particle
command = zsh -c 'bundle exec ruby script/delayed_job'


[events]
directory = /home/gnufied/god_particle
command = zsh -c 'bundle exec ruby script/event_server'

