<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="A Utility for managing processes in development environment">
    <meta name="keywords" content="invoker,pow,foreman,domain,dev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <script type="text/javascript">
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-31204667-3', 'codemancers.com');
     ga('send', 'pageview');
    </script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="//use.typekit.net/ibw2afs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <a name="home"></a>
    <header>
      <h1 class="in-logo">
        <div class="container">
          <a href="index.html" title="Invoker "><img src="images/logo.png" alt="Invoker"></a>
          <a href="#" onclick="window.open('https://twitter.com/share?text=Introducing Invoker 1.0 - release with runtime agnostic .dev local domains support&amp;url=http://invoker.codemancers.com/&amp;via=codemancershq', '', 'width=600, height=400')" class="social-icon"><span class="icon-t"></span></a>

          <a href="#" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://invoker.codemancers.com/', '', 'width=600, height=250')" class="social-icon"><span class="icon-g"></span></a>
        </div>
      </h1>
    </header>

    <div class="in-main-content">
      <div class="in-double-line"></div>
      <div class="cf">
        <div class="left-side-bar">
          <ul>
            <li>
              <a href="#home"> Home </a>
            </li>
            <li>
              <a href="#usage"> Usage </a>
            </li>
            <li>
              <a href="#tld"> .dev local domain </a>
            </li>
            <li>
              <a href="#procfile"> Procfile support  </a>
            </li>
            <li>
              <a href="#process"> Process managment </a>
            </li>
            <li>
              <a href="#pow"> Migrating from Pow </a>
            </li>
            <li>
              <a href="#versions"> Using with RVM or rbenv </a>
            </li>
            <li>
              <a href="https://github.com/code-mancers/invoker/issues" target="_blank"> Bug Report </a>
            </li>
            <li>
              <a href="#faq"> FAQ </a>
            </li>
          </ul>
        </div>
        <div class="content-container">
          {{ content }}
        </div>
      </div>
      <footer>
        <div class="in-footer-content cf">
          <div class="in-double-line"></div>
          <div class="col-1-of-2">
            <div class="in-hire-us">
              <div>
                <a href="http://codemancers.com/hire_us/index.html" target="_blank" class="in-btn">Hire us</a>
                <p>to support</p>
              </div>
              <img src="/images/logo.png" alt="Invoker ">
            </div>
          </div>
          <div class="col-1-of-2 align-right">
            <div class="in-geeks">
              <p>Built by</p>
              <a href="http://codemancers.com/who_we_are/index.html" target="_blank"> <img src="/images/GeeksLogo.png" alt="geeks "> <span>@Codemancers.com</span>    </a>
            </div>
          </div>
          <p>&copy;2013 <a href="http://www.codemancers.com" target="_blank">Codemacers.com</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>
