<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="A Utility for managing processes in development environment">
    <meta name="keywords" content="invoker,pow,foreman,domain,dev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <script type="text/javascript">
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-31204667-3', 'codemancers.com');
     ga('send', 'pageview');
    </script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="//use.typekit.net/nkz6dvi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <a name="home"></a>
    <a href="https://github.com/code-mancers/invoker"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
    <header>
      <h1 class="in-logo">
        <div class="container">
          <a href="/" title="Invoker "><img src="images/logo.png" alt="Invoker"></a>
          <a href="javascript:void(0)" onclick="window.open('https://twitter.com/share?text=Introducing Invoker 1.0 - release with runtime agnostic .test domains support&amp;url=http://invoker.codemancers.com/&amp;via=codemancershq', '', 'width=600, height=400')" class="social-icon"><span class="icon-t"></span></a>

          <a href="javascript:void(0)" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://invoker.codemancers.com/', '', 'width=600, height=250')" class="social-icon"><span class="icon-g"></span></a>
        </div>
      </h1>
    </header>

    <div class="in-main-content">
      <div class="in-double-line"></div>
      <div class="cf">
        <div class="left-side-bar">
          <ul id="js-nav-menu">
            <li>
              <a href="/"> Getting Started </a>
              <ul class="getting-started-list">
                <li>
                  <a href="/#tld"> .test domain </a>
                </li>
                <li>
                  <a href="/#https_support"> Https Support </a>
                </li>
                <li>
                  <a href="/#procfile"> Procfile support  </a>
                </li>
                <li>
                  <a href="/#process"> Process management </a>
                </li>
                <li>
                  <a href="/#pow"> Migrating from Pow </a>
                </li>
                <li>
                  <a href="/#zsh"> ZSH completion </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/linux.html"> Using on linux </a>
            </li>
            <li>
              <a href="/ruby_managers.html"> Using with rvm, rbenv or chruby </a>
            </li>
            <li>
              <a href="/faq.html"> FAQ </a>
            </li>
            <li>
              <a href="/contributing.html"> Contributing </a>
            </li>
            <li>
              <a href="https://github.com/code-mancers/invoker/issues" target="_blank"> Bug Report </a>
            </li>
          </ul>
        </div>
        <div class="content-container">
          {{ content }}
        </div>
      </div>
      <footer>
        <div class="in-footer-content cf">
          <div class="in-double-line"></div>
          <div class="col-1-of-2">
            <div class="in-hire-us">
              <div>
                <a href="https://www.codemancers.com/contact/index.html" target="_blank" class="in-btn">Hire us</a>
                <p>to support</p>
              </div>
              <img src="/images/logo.png" alt="Invoker ">
            </div>
          </div>
          <div class="col-1-of-2 align-right">
            <div class="in-geeks">
              <p>Built by</p>
              <a href="https://www.codemancers.com" target="_blank"> <img src="/images/GeeksLogo.png" alt="geeks "> <span>@Codemancers.com</span>    </a>
            </div>
          </div>
          <p>&copy;2018 <a href="https://www.codemancers.com" target="_blank">Codemancers.com</a></p>
        </div>
      </footer>
    </div>
    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script>
      $(document).ready(function() {
        var stickyNavTop = $('#js-nav-menu').offset().top;

        var stickyNav = function(){
          var scrollTop = $(window).scrollTop();

          if (scrollTop > stickyNavTop) {
            $('#js-nav-menu').addClass('sticky');
          } else {
            $('#js-nav-menu').removeClass('sticky');
          }
        };

        stickyNav();

        $(window).scroll(function() {
          stickyNav();
        });
      });

      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
  </body>
</html>
